.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  height: 98vh;
}

header {
  grid-column: 1/4;
  background-color: #A4C3D8;
  text-align: center;
}

footer {
  grid-column: 1/4;
  grid-row: 6/6;
  background-color: #598BAF;
  text-align: center;
}

section {
  grid-row: 2/5;
  grid-column: 2/3;
  text-align: center;
}

#netflixbild {
  width: 60vw;
  height: auto;
}

#burgerkingbild {
  width: auto;
  height: 20vw;
}

#copyright {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}

#facebook {
  grid-column: 1/2;
  grid-row: 5/5;
  background-color: #A4C3D8
}

#instagram {
  grid-column: 2/3;
  grid-row: 5/5;
  background-color: #A4C3D8
}

#telefon {
  grid-column: 3/4;
  grid-row: 5/5;
  background-color: #A4C3D8
}

#ommig {
  grid-column: 1/2;
  grid-row: 2/3;
}

#erfarenheter {
  grid-column: 1/2;
  grid-row: 3/4;
}

#intressen {
  grid-column: 1/2;
  grid-row: 4/5;
}

#pil {
  grid-column: 1/1;
  grid-row: 1/1;
}

@media screen and (max-width: 600px) {
  #facebook {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  #instagram {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  #telefon {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .erfarenheter {
    text-align: center;
  }

  .ommig {
    text-align: center;
  }

  .intressen {
    text-align: center;
  }
}